<div class="container">
    <div class="row align-items-start">
        <div class="col-sm">
            <div class="image-container">
                <img class="card-img-top" src="../../assets/controller.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Playstation 4 black/grey controller</h5>
                <p class="card-text">$59.99</p>
                <button (click)="showCheckMark('controller')">Quick cart</button>
                <p *ngIf="checkMarks.controller"> &#10004; </p>
            </div>
        </div>
        <div class="col-sm">
            <div class="image-container">
                <img class="card-img-top" src="../../assets/headset.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Stinger Gaming Headset</h5>
                <p class="card-text">$35.99</p>
                <button (click)="showCheckMark('headset')">Quick cart</button>
                <p *ngIf="checkMarks.headset"> &#10004; </p>
            </div>
        </div>
        <div class="col-sm">
            <div class="image-container">
                <img class="card-img-top" src="../../assets/bundle2.jpeg" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">God of war Playstation 4 bundle</h5>
                <p class="card-text">$564.99</p>
                <button (click)="showCheckMark('bundle')">Quick cart</button>
                <p *ngIf="checkMarks.bundle"> &#10004; </p>
            </div>
        </div>
        <div class="col-sm">
            <div class="image-container">
                <img class="card-img-top" src="../../assets/xbox.jpeg" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">1TB Xbox One</h5>
                <p class="card-text">$299.99</p>
                <button (click)="showCheckMark('xboxOne')">Quick cart</button>
                <p *ngIf="checkMarks.xboxOne"> &#10004; </p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row align-items-start">
        <div class="col-sm">
            <div class="image-container">
                <img class="card-img-top" src="../../assets/nSwitch.jpeg" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Nintendo Switch NES limited edition</h5>
                <p class="card-text">$299.99</p>
                <button (click)="showCheckMark('nSwitch')">Quick cart</button>
                <p *ngIf="checkMarks.nSwitch"> &#10004; </p>
            </div>
        </div>
        <div class="col-sm">
            <div class="image-container">
                <img class="card-img-top" src="../../assets/gChair.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">LEVL Gaming Alpha Series M Gaming Chair in Black/Blue</h5>
                <p class="card-text">$299.99</p>
                <button (click)="showCheckMark('gChair')">Quick cart</button>
                <p *ngIf="checkMarks.gChair"> &#10004; </p>
            </div>
        </div>
        <div class="col-sm">
            <div class="image-container">
                <img class="card-img-top" src="../../assets/wiiU.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Nintendo Wii U system</h5>
                <p class="card-text">$399.99</p>
                <button (click)="showCheckMark('wiiU')">Quick cart</button>
                <p *ngIf="checkMarks.wiiU"> &#10004; </p>
            </div>
        </div>
        <div class="col-sm">
            <div class="image-container">
                <img class="card-img-top" src="../../assets/mouse.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">iMice A8 USB Wired Gaming Mouse</h5>
                <p class="card-text">$8.39</p>
                <button (click)="showCheckMark('mouse')">Quick cart</button>
                <p *ngIf="checkMarks.mouse"> &#10004; </p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row align-items-start">
        <div class="col-sm">
            <div class="image-container">
                <img class="card-img-top" src="../../assets/n3DS.jpeg" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Nintendo New 3DS</h5>
                <p class="card-text">$175.99</p>
                <button (click)="showCheckMark('n3DS')">Quick cart</button>
                <p *ngIf="checkMarks.n3DS"> &#10004; </p>
            </div>
        </div>
        <div class="col-sm">
            <div class="image-container">
                <img class="card-img-top" src="../../assets/gPc.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">iBUYPOWER Element Front and Side Tempered Glass Gaming Case</h5>
                <p class="card-text">$999.99</p>
                <button (click)="showCheckMark('gPc')">Quick cart</button>
                <p *ngIf="checkMarks.gPc"> &#10004; </p>
            </div>
        </div>
        <div class="col-sm">
            <div class="image-container">
                <img class="card-img-top" src="../../assets/xKeyboard.jpeg" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Microsoft Xbox Chatpad</h5>
                <p class="card-text">$29.99</p>
                <button (click)="showCheckMark('xKeyboard')">Quick cart</button>
                <p *ngIf="checkMarks.xKeyboard"> &#10004; </p>
            </div>
        </div>
        <div class="col-sm">
            <div class="image-container">
                <img class="card-img-top" src="../../assets/gPad.jpeg" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Razer Firefly - Hard Gaming Mouse Mat</h5>
                <p class="card-text">$59.99</p>
                <button (click)="showCheckMark('gPad')">Quick cart</button>
                <p *ngIf="checkMarks.gPad"> &#10004; </p>
            </div>
        </div>
    </div>
</div>